VITE_CLERK_PUBLISHABLE_KEY=
VITE_API_URL=http://localhost:4004/

#Clerk custom page routes
VITE_CLERK_SIGN_IN_URL=/sign-in
VITE_CLERK_SIGN_UP_URL=/sign-up
VITE_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
VITE_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/
